.header {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
  background: #fff;

  @media (max-width: 768px) {
    display: flex;
  }
}

.logo {
  display: flex;
  font-size: 0;
  transform: translateY(-2px);
}

.profileLink {
  display: flex;
}