.container {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 48px;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
  }
}

.serviceContent {
  padding: 24px;
  border: 1px solid #0000000d;
  border-radius: 24px;
  background: #FFFFFF;
  flex: 1;

  @media (max-width: 768px) {
    padding: 16px;
    border-radius: 16px;
  }
}

.serviceImage {
  margin-bottom: 12px;

  @media (max-width: 768px) {
    margin-bottom: 6px;
  }

  .mainImage {
    width: 100%;
    border-radius: 16px;
  }
}

.serviceHeader {
  display: flex;
  margin-bottom: 8px;

  h1 {
    flex: auto;
    font-size: 32px;
    font-weight: 600;
    // line-height: 130%;
    color: #262626;

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  .actions {
    display: flex;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .edit,
  .delete {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .titleBtn {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

.price {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}

.serviceDescription {
  padding-top: 30px;
  color: #262626;
  font-size: 16px;
  line-height: 120%;

  @media (max-width: 768px) {
    padding-top: 24px;
    border-top: none;
    font-size: 14px;
  }
}