.container {
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
